@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/assets/images/montain-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Roboto", sans-serif;
}

:root {
    --bg-color: #1f1d24;
    --border-color: #2b2830;
    --text-color: #fafafa;
    --primary-color: #0D2C54;
}

.white-mode {
    --bg-color: #fafafa;
    --border-color: #cdced6;
    --text-color: #1f1d24;
}

.container-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(0deg, #03030360, #0303032d);
}

.chat-container {
    max-width: 1598px;
    width: 100%;
    height: 90vh;

    background-color: var(--bg-color);
    border: 4px solid var(--border-color);
    border-radius: 7px;
}

/* nav */
.nav-icon {
    width: 30px;
    height: 30px;
}

.user-icon {
    width: 22px;
    height: 22px;
}

.icon-box {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #fafafa;
    border: 2px solid #d4cdd6;
}

.user {
    display: flex;
    align-items: center;
    
    gap: 4px;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 6px 12px;

    border-radius: 3px;
    background-color: var(--primary-color);
    color: #fafafa;
    box-shadow: #63636333 0px 2px 8px 0px;
}

/* body */
.chat-body {
    width: 100%;
    height: 93%;
    display: flex;

    padding: 10px 20px;
}

.contacts-container {
    max-width: 700px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6px 12px;

    background-color: var(--border-color);
    /* border: 2px solid var(--bg-color); */
    border-radius: 10px;
    box-shadow: #63636333 0px 2px 8px 0px;
}

.title-box {
    width: 100%;
    display: flex;
}

.contact-title {
    font-weight: 900;
    color: var(--text-color);
}

.contact-line {
    width: 100%;
    border: 1px solid var(--text-color);

    margin: 6px 0;
}

.contact-list {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 4px;

    overflow-y: auto;
}

.contact-box {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 6px 12px;

    border-radius: 7px;
    background-color: var(--bg-color);
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.contact-info-line {
    opacity: 25%;
}

.contact-name-status {
    width: 100%;
    display: flex;
    justify-content: space-between;

    color: var(--text-color);
    font-size: 18px;
}

.status-icon {
    width: 17px;
    height: 17px;

    border-radius: 50%;
}

.last-mensage-time {
    width: 100%;
    display: flex;
    justify-content: space-between;

    color: var(--text-color);
}

.red { background-color: #e94e53; color: #cc3f3f; border: 2px solid #cc3f3f; }
.green { background-color: #4ee975; color: #41cc64; border: 2px solid #41cc64; }
.yellow { background-color: #e9da4e; color: #ddc145; border: 2px solid #ddc145; }
.gray { background-color: #c5c4c4; color: #9e9e9e; border: 2px solid #9e9e9e; }

/* footer */
.icon {
    width: 16px;
    height: 16px;
}

.send-button {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    border: 0;
    border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #727272;
}