@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/assets/images/montain-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --bg-color: #1f1d24;
    --border-color: #2b2830;
    --text-color: #fafafa;
}

.white-mode {
    --bg-color: #fafafa;
    --border-color: #d4cdd6;
    --text-color: #1f1d24;
}

.container-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(0deg, #03030360, #0303032d);
}

.chat-container {
    max-width: 850px;
    width: 100%;
    height: 90vh;

    padding: 15px 30px;

    background-color: var(--bg-color);
    border: 4px solid var(--border-color);
    border-radius: 20px;
}

/* footer */
.icon {
    width: 16px;
    height: 16px;
}

.send-button {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0D2C54;
    border: 0;
    border-radius: 50%;
}